/* 전체 페이지 스타일 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* 인증 박스 */
.auth-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

/* 제목 */
h1 {
    color: #333;
    margin-bottom: 20px;
}

/* 입력 필드 */
input[type="password"] {
    width: 93%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* 버튼 스타일 */
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #0056b3;
}

/* 오류 메시지 */
.error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

.to-main {
    font-size: 20px;
    margin-top: 15px;
    color:#a4a4a4;
}

